/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
}

img {
    width: 100px;
}

.hero {
    height: 343px;
    width: 720px;
    background-image: url("https://images.unsplash.com/photo-1583833008338-31a6657917ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    padding-top: 35px;
    background-size: cover;
    text-align: inherit;
    margin: 0 auto;
}

#sk-1 {
    border: 1px solid black;
    border-radius: 8px;
    width: 280px;
    margin: 35px auto;
    background-color: #56cfe1;
    
}

#sk-2 {
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    margin: 35px auto;
    background-color: #C5E0F7;

}

.activity {
    background-color: #A8DADC;
    padding-top: 10px;
    width: 720px;
    margin: 0 auto;
}

.flex-image {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.flex-container {
    display: flex;
}
.bold-1 {
    color: #1D3557;
    font-weight: bold;
} 

.p-2 {
    color: #1D3557;
}
.guide {
    width: 400px;
    margin: 45px auto;
}

.flex-card {
    display: flex;
    border: 1px dotted #CDB4DB;
    align-items: center;
    justify-content: center;
    background-color: #BDE0FE
}

.info {
    width: 190px;
}

#profile {
    height: 150px;
    width: 140px;
}